<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <connectionStrings>
    <add name="RegentContext" connectionString="DATA SOURCE=10.8.250.100:1521/regent;PASSWORD=hzeifini#com;PERSIST SECURITY INFO=True;USER ID=REGENT"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="RegentContext1" connectionString="DATA SOURCE=10.8.250.49:1521/regent;PASSWORD=regentdtest;PERSIST SECURITY INFO=True;USER ID=regentd"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="SqlServerContext"
      connectionString="data source=10.8.251.241;initial catalog=jst;persist security info=True;user id=sa;password=Eifini@2o17;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"/>
    <add name="DbContext"
      connectionString="data source=.;initial catalog=jim;persist security info=True;user id=sa;password=Eifini@2o17;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"/>

    <add name="TestContext"
         connectionString="data source=.;initial catalog=test1;persist security info=True;user id=sa;password=Eifini@2o17;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <appSettings>
    <!--<add key="jwt.AuthKeyBase64" value="{Base64AuthKey}" />-->
    <!--
    <add key="jwt.PrivateKeyXml" value="{PrivateKey2016Xml}" />-->
    <!--Automatically create the ApiKey Table for AuthRepositories which need it. (default true)-->
    <add key="apikey.InitSchema" value="true" />
    <!--Whether to only allow access via API Key from a secure connection. (default true)-->
    <!--<add key="apikey.RequireSecureConnection" value="true" />-->
    <!--Different types of Keys each user can have. (default secret)-->
    <add key="apikey.KeyTypes" value="secret,publishable" />
    <!--dd-->
    <!--<add key="apikey.Environments" value="live" />-->
    <!--Whether to automatically expire keys. (default no expiry)-->
    <!--<add key="apikey.ExpireKeysAfter" value="86400" />-->
    <!--<add key="apikey.RequireSecureConnection" value="true" />-->

    <add key ="DebugMode" value="true"/>
    <add key ="AdminAuthSecret" value="true"/>
  </appSettings>



  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

</configuration>
